{% extends "layout.html" %}
{% block content %}
    <header>
      <div class="container">
        {% if config.THEME_SETTINGS.profilepicture %}
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-12 col-centered logo">
            <img alt="profile-picture" class="img-responsive" src="{{ config.THEME_SETTINGS.profilepicture | asseturl }}">
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-12 col-centered event-title text-center">
            <span id="event-title">{{ config.THEME_SETTINGS.name | upper }}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-12 col-centered">
            <p class="text-center">{{ config.THEME_SETTINGS.about }}</p>
          </div>
        </div>
      </div>
    </header>

    <br/>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-12 col-centered">
          <div class="background center-block">
            <div class="transbox">
              <p class="text-center">14 de Julho de 2018<br/>Av. Eng. Luís Carlos Berrini, 105, Brooklin Paulista, São Paulo</p>
            </div>
          </div>
          <div class="google-maps">
            <iframe class="center-block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.15318424355!2d-46.69242768488708!3d-23.59883858466435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce573433dd2aa3%3A0xd5796b9fb756e2b4!2sCreditas!5e0!3m2!1spt-BR!2sbr!4v1530478534703" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <h1 class="text-center" id="tickets">Garanta seu ingresso!</h1>
      <script src="./static/timecounter.js"></script>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center" id="timecounter"></p>
          <div class="tickets">
            <iframe src="https://eventbrite.com.br/tickets-external?eid=47626169154&ref=etckt" frameborder="0" height="308" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
          </div>
        </div>
      </div>

      <h1 class="text-center" id="talks">Proposta do evento</h1>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center">
            Atualmente, a maioria dos eventos de Python são sobre muitas coisas: estruturas, aplicativos e comunidade.
            É muito positivo atender às necessidades da indústria e da comunidade.
            Mas às vezes sentimos falta do python, puro Python.
            Nossa intenção é fazer uma conferência apenas de Python!<br/><br/>
            Conheça a fundo nossa proposta de eventos <strong style="font-family: 'Concert One', cursive;">JUST PYTHON</strong> através do nosso <a href="/manifesto"><strong>Manifesto JUST PYTHON</strong></a>
          </p>
        </div>
      </div>

      <h1 class="text-center" id="talks">Grade de Palestras</h1>
      <div class="row">
        <div>
          <p class="text-center" id="call4pappers">
            <img src="{{ 'img/grade_v1.jpg' | asseturl }}" alt="grade de palestras" style="width: 100%">
          </p>
        </div>
      </div>

      <h1 class="text-center" id="talks">Codigo de conduta</h1>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-center">
            Para termos um ambiente amistoso, de boa convivência, inclusivo e livre de intimidação, onde todas as pessoas são bem-vindas. Civilidade é exigida!
            Definimos um <a href="/cdc"><strong>Código de Conduta</strong></a>, baseado no Código de Conduta do Evento Python Brasil.
            Leia-o atentamente e respeite as regras de boa convivência, para termos um evento maravilhoso e proveitoso a todos.
          </p>
        </div>
      </div>

      <h1 class="text-center" id="sponsors">Patrocinadores</h1>
      <div class="row">
        <div class="col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-centered logo">
          <p class="text-center">
            <a href="https://www.creditas.com.br/">
              <img src="{{ 'img/logo-creditas-1.png' | asseturl }}" alt="creditas" class="img-responsive">
            </a>
          </p>
          <br>
          <p class="text-center">
            Agredecemos a <a href="https://www.creditas.com.br/">Creditas</a> por fornecer o espaço e o coffee break para realizar o evento!
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 user-social text-center">
          <h1 class="text-center">Redes sociais</h1>
          {% include "partials/social.html" %}
        </div>
      </div>
{% endblock content %}
