<header>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse font-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="python-terminal" id="green-terminal" href={{ '/'|url }}>$ python<br/> >>> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/#tickets">Ingressos()</a>
        </li>
        <li>
          <a href="/#event-title">Local()</a>
        </li>
        <li>
          <a href="/#talks">Palestras()</a>
        </li>
        <li>
          <a href="/manifesto/">Manifesto()</a>
        </li>
        <li>
          <a href="/cdc/">CódigoDeConduta()</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
